html {
    height:100%;
}

body {
	background-color: #f0f2f5;
	background-image: url(../images/background.png);	
	height:100%;
}

table td {
	vertical-align: top;
}

.copyright {
	margin: 50px 0 20px 0;
	padding:0 20px 0 20px;
	color: #666;
}

.header-row {
	margin-top: 50px;
	margin-bottom: 0;
}

.header-row h3 {
	font-size: calc(2em + 2vmin);
}

.header-row .col {
	position: relative;
}

.header-row .version {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	color: #aaa;
}

.header-row h3 {
	color: #597da3;
}

.header-zero {
	background-color: #dae1e8;
	background-image: url(../images/0-background.png);
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.main-panel {
	border:1px solid #eaecf0;
	background-color: white;
	border-radius: 3px;
	margin-top: 20px;
}

.main-panel .content {
	padding: 20px 10px 20px 10px; 
}

.find-panel {
	background-color: #f0f2f5;
	margin: 50px 0 30px 0;
	padding-right: 10px;
	text-align: center;
	border: 1px dashed #dae1e8;
}

.find-link {
	color: #597da3;
	cursor: pointer;
	text-decoration: none !important;
}

.find-wait {
	color: #999999 !important;
	text-decoration: none !important;
}

.find-image {
	min-width: 100px;
	min-height: 100px;
	width: 50vw;
    height: 50vw;
	max-width:400px;
	max-height:400px;
	overflow:hidden; 
	margin: 0 auto;
	position: relative;
}

.find-image img {
	max-width: 100%;
	max-height: auto;
	margin: 0 auto; 
	display: block; 
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
}

.found-text {
	padding: 10px;
	margin: 0 auto;
	min-width: 100px;
	min-height: 100px;
	width: 50vw;
    height: 50vw;
	max-width:400px;
	max-height:400px;
}

.found-name {
	margin-bottom: 10px;
}

.found-name a {
	font-size: 25px;
	color: #597da3;
	text-decoration: underline;
}

.found_write {
	font-size: 20px;
	color: #597da3;
}