  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel=icon href={{ url_for('static', filename='images/favicon.png') }} sizes="128x128" type="image/png">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title>Ноль Сообщений</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

      <div class="container">
        <div class="row header-row">
          <div class="col s12 m10 offset-m1">
            <h3>Сообщений <span class="header-zero">+0</span></h3>
            <div class="version">0.1</div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 main-panel">
          	<div class="content">
              Мы являемся сервисом по спасению одиноких людей в ВКонтакте от их одиночества. Для этого нажмите на "Подобрать собеседника" и напишите что-то приятное случайно подобронному собеседнику. Для участия в нашем рейтинге отправьте скриншот переписки в <a href="http://vk.com/public115191226" target="_blank">нашу группу ВКонтакте</a>.

              <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                  <div class="card-panel z-depth-0 find-panel">
                  	<div class="found-name" id="found_name"><a class="find-link" id="find_link">Подобрать собеседника</a></div>
                  	<div class="responsive-img circle find-image"><img src="{{ url_for('static', filename='images/camera.png') }}" width="400" id="find_image"></div>
                    <div class="found-text" id="found_text"></div>
                  </div>
                  <div class="try-again" id="try_again"></div>
                </div>
              </div>
			  <div id="instructions" class="instructions">Теперь напишите подобронному собеседнику и отправьте скриншот переписки в <a href="http://vk.com/public115191226" target="_blank">нашу группу ВКонтакте</a> для повышения вашего рейтинга</div>              
            </div>
          </div>
        </div>
        <div class="row">
          {% for stat in statistics %}
            <div class="col s12 m6">
              <div class="card-panel z-depth-0 stats">
                <img src="{{ stat['data']['photo_50'] }}" class="circle" align="middle">
                <a href="http://vk.com/id{{ stat['uid'] }}" target="_blank">{{ stat['data']['first_name'] }} {{ stat["data"]["last_name"] }}</a> 
                <div class="right count">+{{ stat["data"]["points"] }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
        <h6 class="center-align copyright">385 &copy; 2016</h6>
      </div>

      <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
  </html>